<!DOCTYPE html>
<html>
  <head>
    <title>GestionCondominios</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="sb-nav-fixed">
  
    <!--    Navbar  -->
    <%= render 'layouts/top_nav_bar' %>
    <!--    content  -->
    <div id="layoutSidenav">
      <!--    side Navbar  -->
      <% if user_signed_in? %>
        <%= render 'layouts/side_nav' %>
      <%end %>
      <!--    content  -->
      <div id="layoutSidenav_content">
        <main>
          <div class="container-fluid">
            <%= render 'layouts/messages'%>
            <%= yield %>
          </div>
        </main>
      </div>
      <!--    end content  -->
    </div>
    <!--    end content  -->
    <%= render 'layouts/footer' %>
    <%= javascript_pack_tag 'global' %>
  </body>
</html>
