<!DOCTYPE html>
<html>
  <head>
    <title>GestionCondominios</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="sb-nav-fixed">
  
    <!--    Navbar  -->
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
      <%= render 'layouts/top_nav_bar' %>
    </nav>
    <!--    content  -->
    <div id="layoutSidenav">
      <!--    side Navbar  -->
      <div id="layoutSidenav_nav">
        <%= render 'layouts/side_nav' %>
      </div>
      <!--    content  -->
      <div id="layoutSidenav_content">
        <main>
          <div class="container-fluid">
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
            <%= yield %>
          </div>
        </main>
      </div>
      <!--    end content  -->
    </div>
    <!--    end content  -->
  </body>
</html>
